* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    background-color: #f9f4f5;
    /* Soft pastel color for the background */
}


.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

.buttons {
    width: 100%;
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#yes-btn {
    position: absolute;
    right: 0;
}

#no-btn {
    position: absolute;
    left: 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #e91e63;
    /* Romantic color for the heading */
}

button {
    padding: 24px 48px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    background-color: #ff4081;
    /* Romantic color for the buttons */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff5c8d;
    /* Lighter shade on hover for a soft effect */
}

.popup {
    width: 85%;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #fff;
    border: 1px solid #e91e63;
    /* Romantic color for the border */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    color: #e91e63;
    /* Romantic color for the popup text */
}

/* Add a smooth fade-in animation for the popup */
.popup.fade-in {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.catsPhoto {
    width: fit-content;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}